#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Mail Checker
Comment=A very simple script that checks for unread mail
Exec=/bin/bash mail_checker
Icon=mailIcon.png
Terminal=false
Name[en_US]=Mail Checker
